.bgImage{
    width: 100%;
    height: 90vh;
    flex: 1;
    object-fit: cover;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 200%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin-left: 120px;
  }
  
footer div {
    display: flex;
    flex-direction: column-reverse;
    text-align: right;
}
  
footer h2 {
    font-size: 40px;
}
  
footer h1 {
    font-size: 25px;
    font-weight: 200;
}
  
footer button {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 1rem;
    transition-duration: 200ms;
    cursor: pointer;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.navbarTitle{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbarMenu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.githubIcon{
    padding-top: 3px;
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: -2; 
}

.bottomBlur{
    position: absolute;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: 1vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: -2; 
    color: white;
}

.bgOverlay {
    position: absolute;
    inset: 0;
    background: #030615;
    opacity: 0.85;
    width: 30%;
    padding: 30px;
    display: flex;
    height: 102vh;
    flex-direction: row-reverse;
    z-index: 40;
}

.bgOverlay h2{
    text-align: left;
}

.bgOverlay p{
    text-align: left;
}

.sideBar{
    display: flex;
    flex-direction: row-reverse;
    overflow-y: scroll;
    width: 80%;
}

.arrowBack{
    padding-left: 10px;
    margin-left: 20px;
}

.sideBar button:hover{
    opacity: 0.9;
}

.exhibit{
    height: 100vh;
}

.loadingState{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 170vh;
    gap: 20px;
}

.navbarMenu a{
    color: white;
}

.navbarMenu a:hover{
    color: #4ba0ea;
}

.navbarTitle span{
    color: #4ba0ea;
}

.settingsIcon{
    opacity: 0.8;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

@media (max-width: 640px) {
    .sidebar {
      position: relative;
      inset: unset;
      min-width: 30%;
      max-height: 100vh;
      box-shadow: 0 0 40px 1px #030615;
    }
  
    .sidebarContent {
      margin: unset;
      width: 100%;
    }
  
    .bgOverlay {
      right: 0;
      left: unset;
      width: 100vw;
      flex-direction: row;
    }

    .bgOverlay h2{
        margin-left: 20px;
    }

    .bgOverlay p{
        margin-left: 20px;
    }

    footer{
        margin-left: 80px;
    }

    .loadingState{
        width: 200%;
    }

  }